#Titulo {
    width: auto;
    height: auto;
    color: #dd4e0b;

}

#Titulo2 {
    width: auto;
    height: auto;
    color: #0766be;

}

#texto {

    padding: 10px;
    color: #724400;
    background-color: #ccc;
    
}

#texto2 {

    padding: 10px;
    color: #087292;
    background-color: #ccc;

}
