#Titulo {
    width: auto;
    height: auto;
    color: #dd4e0b;

}

#Titulo2 {
    width: auto;
    height: auto;
    color: hsl(209, 93%, 39%);

}

#texto {

    padding: 10px;
    color: hwb(36 0% 55%);
    background-color: rgb(204, 204, 204);

}

#texto2 {

    padding: 10px;
    color: #087292;
    background-color: rgb(204, 204, 204);

}